body {
  font-family: Biryani;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  max-width: 960px;
  margin: 0 auto 0 auto;
}

header {
  padding: 60px 20px 60px 20px;
  text-align: center;
}

.menu {
  background-color: #f9cfdf;
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* Hides menu off screen */
  transform: translateX(-100%);

  z-index: 2;
  transition: transform 0.5s ease;
}

.open {
  transform: translateX(0);
}

.menu-toggle {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 3;
}

nav {
  position: absolute;
  left: 65px;
  top: 50%;
  /* vertical centering */
  transform: translateY(-50%);
}

nav a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  color: #000;
  display: block;
  margin-bottom: 10px;
}

section {
  margin-bottom: 60px;
}

.natural h2 {
  font-size: 64px;
  line-height: 1.125;
  font-weight: 700;
}

.natural .copy {
  position: absolute;
  top: 50%;
  right: 0;
  width: 360px;
  transform: translateY(-50%);
}

.natural,
.autumn {
  padding-right: 260px;
  position: relative;
}

.natural img,
.natural h2 {
  transition: transform 0.5s ease;
}

.natural:hover img {
  transform: rotate(-5deg);
}

.natural:hover h2 {
  transform: scale(1.15);
}

.one-thing .copy,
.one-thing img {
  transition: transform 0.5s ease;
}

.one-thing:hover .copy {
  transform: scale(1.1) translateX(20px);
}

.one-thing:hover img {
  transform: rotate(10deg);
}

.lookbook h2,
.autumn h2 {
  transition: all 0.5s ease;
}

.lookbook:hover h2 {
  transform: scale(0.8);
  color: rgba(255, 255, 255, 0.8);
}

.autumn:hover h2 {
  transform: scale(0.8);
}

.one-thing {
  padding-left: 360px;
  position: relative;
}

.one-thing .copy {
  position: absolute;
  top: 50px;
  left: 0;
  width: 480px;
}

.one-thing h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.one-thing p {
  font-size: 32px;
  font-weight: 100;
}

.lookbook {
  padding: 220px 20px 180px 20px;
  background-image: url(../assets/image_3.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.lookbook h2 {
  font-size: 64px;
  color: #fff;
  font-weight: 700;
}

.autumn h2 {
  font-size: 48px;
  line-height: 1.25;
  font-weight: 700;
  width: 431px;

  position: absolute;
  right: 0;
  top: 15%;
}
